# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
pubspec.lock

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Android related
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS/Xcode related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
.flutter-plugins-dependencies
.flutter-plugins-dependencies
